:host {
  display: block;
  width: 100%;
}

tui-island {
  margin: 20px 0;
}

.border {
  border-bottom: 1px solid black;
}

.grid-container {
  cursor: pointer;
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  //grid-auto-rows: minmax(20px, auto); /* Row height with minimum 100px */
  grid-gap: 0px; /* Gap between grid items */
  /* Optionally, add additional styles like width, margin, etc. */
}

.grid-item {
  /* Style each grid item */
  padding: 10px;
  text-align: center;
}

.full-width {
  grid-column: 1 / span 3; /* Span across all 3 columns */
  height: 2px;
}

hr {
  height: 1px;
  margin: 0 -15px;
}

.booking {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  margin-bottom: -10px;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  //background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.overlay-content {
  position: relative;
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: auto;
  height: 100%;
  background-color: white;
  padding: 20px;
  overflow-y: auto;

  .booking {
    margin: 100px 0;
  }
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #ccc;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;

  .close-icon {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      height: 2px;
      background-color: black;
      transform-origin: center;
      transition: transform 0.3s ease-in-out;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &:hover .close-icon:before,
  &:hover .close-icon:after {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  img {
    margin: auto;
  }
}
