<div>
    <tui-island>
        <h1>{{ item.cityFrom }} - {{ item.cityTo }}</h1>
        <h2>CHF {{ item.price }} | {{ getDuration(item.duration) }}</h2>
        <button *ngIf="!deleteOption" class="favourite" tuiMarkerIcon src="tuiIconStarLarge" (click)="saveFavouriteConnection()" mode="link"></button>
        <button *ngIf="deleteOption" class="favourite" tuiMarkerIcon src="tuiIconStarLarge" (click)="deleteFavouriteConnection()" mode="primary"></button>
        <div *ngFor="let leg of item.route">
            <p><b>{{ leg.cityFrom }} - {{ leg.cityTo }}</b></p>
            <p>{{leg.airline}} ({{leg.vehicle_type}})</p>
            <p>Departure: {{ leg.local_departure | date:'dd.MM.yy hh:mm' }}</p>
            <p>Arrival: {{ leg.local_arrival | date:'dd.MM.yy hh:mm' }}</p>
        </div>
        <a href="{{ item.deep_link }}" target="_blank">
            <button tuiButton [disabled]="!isConnectionAvailable">Book</button>
        </a>
        <p *ngIf="!isConnectionAvailable">This connection is not available anymore</p>
    </tui-island> 
</div>
      
