<h1>Shared Favourites</h1>
<button (click)="getSharedData()">Get shared data</button>
<form [formGroup]="share" #formDir="ngForm" >
  <h2>Share favourites</h2>
  <tui-input
    formControlName="email"
    id="shareFavourites"
    type="email"
    required
    [tuiTextfieldCleaner]="true"
  >E-Mail</tui-input>
  <button class="primary-button share-button" type="submit" (click)="shareFavourites()" [disabled]="share.invalid">Share</button>
</form>
<h2>My account</h2>
<p>{{myEmail}}</p>
<h2>Shared with me</h2>
<div *ngFor="let user of sharingUsers">
  <p>{{user.email}}</p>
  <p>{{user.uid}}</p>
  <button (click)="deleteSharedUser(user)">Delete</button>
  <button (click)="getSharedDataFromUser(user.uid)">Get shared data</button>
</div>
<h2>I share with</h2>
<div *ngFor="let email of sharedWith">
  <p>{{email}}</p>
  <button (click)="deleteSharedWithUser(email)">Delete</button>
</div>