@import "../../../../styles.scss";

.secondary-button {
  width: 100%;
}
.sharing-users {
  display: flex;
  flex-direction: row;
}
.delete-button {
  margin-top: 20px;
  margin-left: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: 9999;
}

.overlay-content {
  position: relative;
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: auto;
  height: 100%;
  background-color: $white;
  padding: 20px;
  overflow-y: auto;

  .booking {
    margin: 100px 0;
  }
}
