@import '../../../../styles.scss';

:host {
  display: block;
  width: 100%;
  min-height: 100vh;
}

.backArrowIcon {
  position: absolute;
  left: 20px;
  margin-top: 4px;
}

.backButton {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: $secondary-color;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

tui-loader {
  margin-top: 50px;
}

form {
  display: flex;
  margin-top: 20px;
}

tui-select {
  width: 150px;
  margin-right: 10px;
}

/* tablets */
@media (min-width: 768px) {
  .backButton {
    display: none;
  }
  tui-loader {
    margin-top: 100px;
    margin-bottom: -50px;
  }

}
