<h1>Profile</h1>

<div class="userInformation">
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="formGroup">
      <tui-input
        type="text"
        id="userName"
        class="formControl"
        formControlName="name"
        [(ngModel)]="name"
      >Username</tui-input>
    </div>  
    <div class="formGroup">
      <tui-input
        type="text"
        id="userState"
        class="formControl"
        formControlName="state"
        [(ngModel)]="state"
      >State</tui-input>
    </div>  
    <div class="formGroup">
      <tui-input
        type="text"
        id="userCountry"
        class="formControl"
        formControlName="country"
        [(ngModel)]="country"
      >Country</tui-input>
    </div>
    <div class="formGroup">
      <button tuiButton type="submit">Save</button>
    </div>
  </form>

  <tui-island>
    <div *ngIf="data">
      <p> {{data.name }}</p>
      <p> {{data.state }}</p>
      <p> {{data.country }}</p>
    </div>
    
    <div *ngIf="user">
        <p> {{user.email }}</p>
    </div>
  </tui-island>
</div>