<tui-root>
  <header>
    <div class="container">
      <div class="logo" routerLink="/">
        <h1>TripSearch</h1>
      </div>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/profile">Profile</a></li>
          <li><a routerLink="/login">Login</a></li> 
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer>
    <div class="container">
      <a href="https://github.com/philippschnueriger" target="_blank">About</a>
    </div>
  </footer>
</tui-root>