<tui-root>
  <header>
    <div class="container">
      <div class="logo" routerLink="/">
        <img src="assets/logo/logo.svg" alt="logo">
        <div>TripSearch</div>
      </div>
      <nav>
        <ul class="nav-links">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/favourites">Favourites</a></li>
          <li><a routerLink="/profile">Settings</a></li>
          <li><a routerLink="/login">Login</a></li> 
        </ul>
      </nav>
      <div class="mobile-navbar">
        <div class="navbar-toggle" onclick="toggleNav()">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>
    <hr />
  </header>
  <main>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer>
    <div class="container">
      <a href="https://github.com/philippschnueriger" target="_blank">About</a>
    </div>
  </footer>
</tui-root>