tui-input  {
    width: 300px;
    margin: 20px 10px 20px 0;
}


.userInformation {
    display: flex;
    flex-wrap: wrap;
}

tui-island {
    width: 300px;
    height: 180px;
    margin: 20px 10px 20px 20px;
}