<div class="login">
  <h1 *ngIf="currentRoute === 'login'">Welcome to TripSearch</h1>
  <h1 *ngIf="currentRoute === 'signup'">Sign up to TripSearch</h1>
  <h1 *ngIf="currentRoute === 'reset-password'">Reset your password</h1>

  <div class="warning">
    {{ error }}
  </div>

  <div *ngIf="!user">
    <form [formGroup]="loginForm">
      <div *ngIf="currentRoute === 'reset-password'">
        <p>Enter your user account's email address and we will send you a password reset link. </p>
      </div>
      <div class="formGroup">
        <tui-input
          type="email"
          id="userName"
          class="formControl"
          formControlName="email"
          >E-Mail</tui-input
        >
      </div>
      <div *ngIf="currentRoute === 'reset-password'">
        <p class="success">{{ notification }}</p>
      </div>

      <div  *ngIf="currentRoute !== 'reset-password'" class="formGroup">
        <tui-input-password
          type="password"
          id="userPassword"
          class="formControl"
          formControlName="password"
          >Password</tui-input-password
        >
      </div>

      <div *ngIf="currentRoute === 'login'">
        <a routerLink="/reset-password">Forgot your password?</a>
      </div>
      <div  class="formGroup">
        <button *ngIf="currentRoute === 'login'" class="primary-button" id="login-btn" type="submit" [disabled]="!loginForm.valid" (click)="onLogin()">
          Log in
        </button>
        <button  *ngIf="currentRoute === 'signup'" class="primary-button" id="signup-btn" type="submit" [disabled]="!loginForm.valid" (click)="onSignUp()">
          Sign up
        </button>
        <button  *ngIf="currentRoute === 'reset-password'" class="primary-button" id="reset-btn" type="submit" (click)="onResetPassword()">
          Reset Password
        </button>
      </div>
        
      <div *ngIf="currentRoute === 'login'">
        <p>New to TripSearch? <a routerLink="/signup">Sign up</a> </p>
      </div>
    </form>
  </div>
</div>
