@import '../../../../styles.scss';

:host {
  min-height: 100vh;
  width: 100%;
}

:host ::ng-deep [tuiWrapper][data-appearance="textfield"] {
  box-shadow: none;
  border-radius: 10px;
}

h1 {
  margin-bottom: 60px;
}

tui-input,
tui-input-password {
  --tui-base-01: #f1f3f5;
  width: 100%;
  margin: 20px 10px 20px 0;
}

#login-btn, #signup-btn, #reset-btn {
  margin-top: 40px;
  width: 100%;
}

.primary-button {
  margin: 10px 0px 20px 0;
  width: 127px;
}

.secondary-button {
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

/* tablets */
@media (min-width: $tablet-width) {
  form {
    margin: 300px auto auto auto;
    width: 328px;
  }
}
