


<h3>Sign In</h3>
<div class="formGroup">
    <input
        type="text"
        class="formControl"
        placeholder="Username"
        #userName
        required
    />
</div>

<div class="formGroup">
    <input
        type="password"
        class="formControl"
        placeholder="Password"
        #userPassword
        required
    />
</div>

<!-- Calling SignIn Api from AuthService -->
<div class="formGroup">
    <input
        type="button"
        class="btn btnPrimary"
        value="Log in"
        (click)="login(userName.value, userPassword.value)"
    />
    <input
        type="button"
        class="btn btnPrimary"
        value="Sign Up"
        (click)="signUp(userName.value, userPassword.value)"
    />
</div>

<input
        type="button"
        class="btn btnPrimary"
        value="Logout"
        (click)="logout()"
    />
<div *ngIf="user">logged in as {{ user.email }}</div>
