:host {
  display: block;
  min-height: 100vh;
  width: 100%;
}

:host ::ng-deep [tuiWrapper][data-appearance="textfield"] {
  box-shadow: none;
  border-radius: 10px;
}


tui-select {
  width: 120px;
  height: 32px;
  margin-right: 20px;
}