<h1>Favourite Connections</h1>
<form [formGroup]="filters" #formDir="ngForm" class="container">
  <tui-select tuiTextfieldSize="m" formControlName="sort" id="sort">
    Sort
    <tui-data-list-wrapper *tuiDataList [items]="sort"></tui-data-list-wrapper>
  </tui-select>
</form>
<app-connection-card
  *ngFor="let item of favourites"
  [item]="item"
  [deleteOption]="true"
  [favourites]="true"
></app-connection-card>
<div *ngIf="!favourites?.length" class="blankSlate">
  <img src="../../../../assets/icons/clickOnHeart.svg" alt="click on heart" />
  <h2>No favourites yet</h2>
  <button class="primary-button" routerLink="/search">Search connections</button>
</div>
