<h1>Favourite Connections</h1>
<button (click)="getSharedData()">Get shared data</button>
<form [formGroup]="share" #formDir="ngForm" >
  <h2>Share favourites</h2>
  <tui-input
    formControlName="email"
    id="shareFavourites"
    type="email"
    required
    [tuiTextfieldCleaner]="true"
  >E-Mail</tui-input>
  <button class="primary-button share-button" type="submit" (click)="shareFavourites()" [disabled]="share.invalid">Share</button>
</form>
<h2>Shared by</h2>
<div *ngFor="let user of sharingUsers">
  <p>{{user}}</p>
  <!-- <button (click)="deleteSharedUser(user.id)">Delete</button> -->
</div>

<form [formGroup]="filters" #formDir="ngForm" class="container">
  <tui-select tuiTextfieldSize="m" formControlName="sort" id="sort">
    Sort
    <tui-data-list-wrapper *tuiDataList [items]="sort"></tui-data-list-wrapper>
  </tui-select>
</form>
<app-connection-card
  *ngFor="let item of favourites"
  [item]="item"
  [deleteOption]="true"
  [favourites]="true"
></app-connection-card>
