:host ::ng-deep [tuiWrapper][data-appearance="textfield"] {
  box-shadow: none;
  //background-color: #F1F3F5;
  border-radius: 10px;
}

form > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
}
.t-input {
  color: red;
}

tui-input {
  --tui-base-01: #f1f3f5;
  width: 100%;
  margin: 20px 10px 20px 0;
  //border-radius: 10px;
}

tui-input-date-range {
  --tui-base-01: #f1f3f5;
  width: 100%;
  margin: 20px 10px 20px 0;
}

tui-input-date {
  --tui-base-01: #f1f3f5;
  width: 240px;
  margin: 20px 10px 20px 0;
}

tui-select {
  width: 150px;
  font-size: 12px;
  margin: 20px 10px 20px 0;
}

tui-input-number {
  width: 100px;
  margin: 20px 10px 20px 0;
}

button {
  width: 100%;
}

.submit-button {
  height: 56px;
  width: 100%;
  margin: 20px 20px 20px 0;
  color: #ffffff;
  border-radius: 10px;
  background: #3373e2;
  border: none;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  transition: background-color 0.3s ease;
}
.submit-button:hover {
  background-color: #265cb8;
}
.submit-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

tui-radio-labeled {
  width: 100px;
}

.form-options {
  width: 100%;
  margin-top: 32px;
}
.form-options > * {
  display: flex;
  flex-wrap: wrap;
}

.form-inputs {
  width: 100%;
}

.show-form-inputs {
  display: none;
}

.filters {
  display: flex;
  width: calc(100vw - 40px);
  button {
    width: 30%;
    margin: none;
    padding: none;
  }
}

/* tablets */
@media (min-width: 768px) {
  .filters {
    button {
      width: 150px;
    }
  }

  .show-form-inputs {
    display: block;
  }

  .form-inputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  tui-input {
    --tui-base-01: #f1f3f5;
    width: 240px;
    margin: 20px 10px 20px 0;
    //border-radius: 10px;
  }

  tui-input-date-range {
    --tui-base-01: #f1f3f5;
    width: 240px;
    margin: 20px 10px 20px 0;
  }

  tui-input-date {
    --tui-base-01: #f1f3f5;
    width: 240px;
    margin: 20px 10px 20px 0;
  }
  .submit-button {
    width: 80px;
  }
}
