<div>connection-detail</div>
<div *ngFor="let leg of item.route; let last = last" class="connection-details">
  <div>{{ leg.airline }}</div>
  <div class="grid-container-detail">
    <div class="item-detail item-1"><hr class="vertical-line" /></div>
    <div class="item-detail">
      <b
        >{{ leg.local_departure | date : "hh:mm" }} {{ leg.flyFrom }}
        {{ leg.cityFrom }}</b
      >
    </div>
    <div class="item-detail">1 h</div>
    <div class="item-detail">
      <b
        >{{ leg.local_arrival | date : "hh:mm" }} {{ leg.flyTo }}
        {{ leg.cityTo }}</b
      >
    </div>
  </div>
  <div class="layover" *ngIf="!last">7h21 <b>Connect in airport</b></div>
</div>
