.grid-container-detail {
    display: grid;
    grid-template-columns: 20px 1fr; /* Two columns */
    grid-template-rows: auto auto auto; /* Three rows */
    gap: 10px; /* Gap between grid items */
  }
  
  .item-1 {
    grid-row: span 3; /* Spans 3 rows */
    padding: 0 10px;
  }
  
  .vertical-line {
    height: 100%; /* Adjust height as needed */
    border-left: 1px solid #000; /* Color and width of the line */
    margin: 0;
    background-color: white;
  }
  
  .layover {
    height: 30px;
    line-height: 30px;
    background-color: #F1F3F5;
    margin-top: 20px;
    padding-left: 20px;
    overflow: hidden;
  
  }
  
  .connection-details {
    margin-top: 20px;
    margin-bottom: 20px;
  }