<p>{{ tripSummary?.departureTime | date : "dd/MM/yyyy" }}</p>
<tui-island>
  <p>{{ tripSummary?.operators }}</p>
  <div class="grid-container">
    <div class="grid-item">
      {{ tripSummary?.departureTime | date : "hh:mm" }}
    </div>
    <div class="grid-item border">
      {{ tripSummary?.duration }}
    </div>
    <div class="grid-item">
      {{ tripSummary?.arrivalTime | date : "hh:mm" }}
    </div>
    <div class="grid-item">{{ tripSummary?.from }}</div>
    <div class="grid-item">Stops: {{ tripSummary?.stops }}</div>
    <div class="grid-item">{{ tripSummary?.to }}</div>
  </div>
  <button class="expand" (click)="toggleExpand()" [class.rotate-180]="expand">
    <img src="../../../assets/icons/down-arrow.svg" />
  </button>
  <div *ngIf="expand">
    <hr />
    <div
      *ngFor="let leg of tripSummary.route; let last = last"
      class="connection-details"
    >
      <div>{{ leg.airline }}</div>
      <div class="grid-container-detail">
        <div class="item-detail item-1"><hr class="vertical-line" /></div>
        <div class="item-detail">
          <b
            >{{ leg.local_departure | date : "hh:mm" }} {{ leg.flyFrom }}
            {{ leg.cityFrom }}</b
          >
        </div>
        <div class="item-detail">1 h</div>
        <div class="item-detail">
          <b
            >{{ leg.local_arrival | date : "hh:mm" }} {{ leg.flyTo }}
            {{ leg.cityTo }}</b
          >
        </div>
      </div>
      <div class="layover" *ngIf="!last"> {{ leg.layover }} <b>Transfer time</b></div>
    </div>
  </div>
</tui-island>
