<div class="home">
  <h1>Where do you want to go?</h1>
  <app-search-form></app-search-form>
  <div class="image-container">
    <img src="../../../assets/images/explore.jpg" alt="Image" />
    <div class="overlay">
      <h1>Explore Everywhere</h1>
      <button (click)="exploreDestinations()">Explore</button>
    </div>
  </div>
  <h2>Popular right now</h2>
  <app-destination-card [order]="'Favourites'"></app-destination-card>
  <div class="align-right">
    <button class="showMoreButton" [routerLink]="['/destinations']">
      Show more
    </button>
  </div>
</div>
